<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tetris</title>
    <script type="text/javascript" src="{{ url_for('static',filename='js/Tetris.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/Tetris.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    
</head>
<body onload="initTetris()">
    <audio id="bthover" src="{{ url_for('static',filename='bthoveramongus.mp3') }}"></audio>
    <div id="header" class="header">
        <div id="headertext" class="headertext">TETRIS AI</div>
    </div>
    <div id="main">
        
        
        <div id="c" class="container">
            

           <div id="CLEFT" class="CLEFT">
            <div id="DPLAYER" class="DPLAYER">
                <div id="DPLAYERTEXT" class="DPLAYERTEXT">
                    PLAYER
                </div>
                
            </div>

            <div id="DAI" class="DAI">
                <div id="DAITEXT" class="DAITEXT">
                <p id="AII" class="AII">AI ONLY</p>
                    <div id="aiui" class="aiui" hidden="true">


                <p id="w1" class="w1">weight bumpiness</p>
                <input id="w1in" class="w1in" type="number" onchange="updateW();">

                <p id="w2" class="w2">weight holes</p>
                <input id="w2in" class="w2in" type="number" onchange="updateW();">

                <p id="w3" class="w3">weight global height</p>
                <input id="w3in" class="w3in" type="number" onchange="updateW();">

                <p id="w4" class="w4">weight line clear top</p>
                <input id="w4in" class="w4in" type="number" onchange="updateW();">

                <p id="w5" class="w5">weight line clear bottom</p>
                <input id="w5in" class="w5in" type="number" onchange="updateW();">

                <p id="g" class="g" hidden="true">Generation : 0</p>
                <input hidden="true" id="gin" class="gin" type="range" min="1" max="100" value="0" class="slider" id="myRange">

                <p id="sb" class="sb">Speed boost</p>
                <input id="sbin" class="sbin" type="number" value="1" onchange="updateSpeed();">

                <p id="npk" class="npk">Next Piece Knowledge</p>
                <input type="checkbox" id="npkin" class="npkin" name="scales" onchange="updateNPK();" checked>

                <p id="hd" class="hd">HARD DROP</p>
                <input type="checkbox" id="hdin" class="hdin" name="scales" onchange="updateHD();">
                </div>
                </div>
            </div>
            
            

           </div>

            <div id="TC" class="TC">
            <canvas id="Tetris1" style="background:rgb(0, 0, 0)"></canvas>
            <div id="TCB" class="TCB"></div>
            <div id="TCL" class="TCL" hidden="true">YOU LOOSE</div>
            <div id="TCW" class="TCW" hidden="true">YOU WIN</div>
            <p id="ls" class="ls">LEVEL</p>
            <div id="TCLC" class="TCLC" >

                <div id="minl" class="minl" onclick="minlevel();" onmouseover="document.getElementById('bthover').play()"></div>
                <p id="lc" class="lc">0</p>
                <div id="maxl" class="maxl" onclick="maxlevel();" onmouseover="document.getElementById('bthover').play()"></div>

            </div>
            <button class="TCPLAY" id="TCPLAY" onmouseover="document.getElementById('bthover').play()" onclick="playGame();">PLAY</button>
            
        </div>

            <div id="CRIGHT" class="CRIGHT">
                <div id="DNP" class="DNP">

                <canvas id="NP" class="NP"></canvas>

                </div>
                <div id="DSL" class="DSL">
                    <div id="DSLTEXT" class="DSLTEXT">
                <p id="st" class="st">SCORE</p>
                <p id="score" class="sl">0</p>
                <p id="lt" class="lt">LEVEL</p>
                <p id="level" class="ll">0</p>
                
                    </div>
                </div>

                <div id="DB" class="DB">
                    <div id="DBC" class="DBC">
                        
                    
                    <button class="bt" id="bp" onmouseover="document.getElementById('bthover').play()" onclick="btplayer();">PLAYER</button>
                    <button class="bt" id="bai" onmouseover="document.getElementById('bthover').play()" onclick=" btai();">AI</button>
                    <button class="bt" onmouseover="document.getElementById('bthover').play()" id="bpvsai" onclick="AIVPLAYER();">AI vs Player</button>

                    </div>
                    

                </div>
            

            </div>

   

        
        
    
            
            <div id="aivpbox" class="aivpbox" hidden="true">
            <canvas id="Tetris2" class="Tetris2" style="background:rgb(0, 0, 0) "></canvas>
            <div id="T2H" class="T2H"></div>
            </div>

            <div id="CVS" class="CVS" hidden="true">
                <div id="DPLAYER2" class="DPLAYER2">
                    <div id="DPLAYERTEXT2" class="DPLAYERTEXT2">
                        AI
                    </div>
                    
                </div>


                <div id="DSL2" class="DSL2">

                    <div id="DSLTEXT2" class="DSLTEXT2">
                    <p id="st2" class="st2">SCORE</p>
                    <p id="score2" class="sl2">0</p>
                    <p id="lt2" class="lt2">LEVEL</p>
                    <p id="level2" class="ll2">0</p>
                
                    </div>
                </div>




            </div>
    </div>
    
    </div>
    <div id="footer" class="footer">
        <div id="footertext" class="footertext">Travail de maturité sur la résolution du jeu Tetris avec un algorithme génétique <br> par Matthieu Droz <br> Pour télécharger le code source via github: <br> <a href="https://github.com/BuseThai/MatthieuDroz-TetrisTm">MatthieuDroz-TetrisTm</a></div>
    </div>
</body>
</html>